# Godot 4+ specific ignores
/.godot/
.godot/
godot/

/.godot/editor
/.godot/exported
/.godot/imported
/.godot/shader_cache
/.godot/.gdignore
/.godot/export_credentials.cfg
/.godot/global_script_class_cache.cfg
/.godot/uid_cache.bin
